.caja-footer-W{
    a {
        transition: all 0.3s ease;
        
        &:hover {
            color: #198754 !important; 
        }
    }
}

.caja-footer-G{
    a{
        transition: all 0.3s ease;
        &:hover{
            color:#dc3545 !important;
        }
    }
}