.caja {
  .card {
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;

    /* Cuando la tarjeta completa recibe el :hover */
    &:hover {
      transform: translateY(-8px);
      border-color: #dc3545;
      box-shadow:
        0 0 20px rgba(220, 53, 69, 0.4),
        0 0 10px rgba(220, 53, 69, 0.2) !important;

      
      .bi-hammer {
        animation: martillo-moviendose 0.5s infinite alternate;
      }
      .bi-lightning-charge {
        animation: rayo-maloso 0.3s infinite alternate;
      }
      .bi-headset{
        animation: auriculares-llamadas 0.8s infinite alternate;
      }
    }
  }

  @keyframes martillo-moviendose {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-40deg);
    }
  }

  @keyframes rayo-maloso {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(5px);
    }
  }

  @keyframes auriculares-llamadas{
    from{
      transform:rotate(-45deg)
    }
    to{
      transform:rotate(45deg)
    }
   
    
  }
}
