<div class="container text-center mb-5">
  <h2 class="fw-bold display-5 text-dark">Vidreos</h2>
  <p class="text-muted fs-5">asdjabsiodhaposdjpoasndpoasdiasbdio asiodaiosdpo.</p>
  <div class="border-bottom border-4 border-danger mx-auto mt-2" style="width: 100px"></div>
</div>

<div class="container mb-5">
  @for (carrusel of carruseles; track carrusel.id) {
    <div class="mb-5">
      <h4 class="fw-bold mb-3 text-secondary ps-2 border-start border-4 border-danger">
        {{ carrusel.titulo }}
      </h4>
      <div
        [id]="carrusel.id"
        class="carousel slide shadow-sm rounded overflow-hidden bg-light p-3"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          @for (pagina of carrusel.paginas; track $index) {
            <div class="carousel-item" [class.active]="$index === 0">
              <div class="row g-3 justify-content-center">
                @for (p of pagina; track $index) {
                  <div class="col-md-4 col-sm-6 caja-fila">
                    <div
                      class="card h-100 boreder-0 shadow-sm caja-img"
                      [class.d-none]="$index === 2"
                      [class.d-md-block]="$index === 2"
                    >
                      <img
                        [src]="p.img"
                        [alt]="p.alt"
                        class="card-img-top object-fit-cover"
                        style="height: 220px"
                        (click)="abrirModal(p.id, p.descripcion, p.img, p.alt, p.titulo)"
                      />
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          [attr.data-bs-target]="'#' + carrusel.id"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon bg-dark rounded-circle p-3"
            aria-hidden="true"
          ></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          [attr.data-bs-target]="'#' + carrusel.id"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon bg-dark rounded-circle p-3"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </div>
  }
</div>

@if (modalAbierto) {
  <div class="modal-backdrop fade show"></div>
  <div class="modal fade show d-block" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ itemSeleccionado.titulo }}</h5>
          <button type="button" class="btn-close" (click)="cerrarModal()"></button>
        </div>
        <div class="modal-body">
          <div class="container justify-content-center text-center mb-3">
            <img
              [src]="itemSeleccionado.img"
              [alt]="itemSeleccionado.alt"
              style="max-width: 100%; height: 350px; object-fit: cover"
              class="img-fluid mb-3"
            />
          </div>

          <p>{{ itemSeleccionado.descripcion }}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>

          <button type="button" class="btn btn-danger" (click)="cotizarProducto(itemSeleccionado)">
            Solicitar Cotización
          </button>
        </div>
      </div>
    </div>
  </div>
}
