<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm sticky-top p-3">
  <div class="container ">
    <a class="navbar-brand fw-bold text-danger" href="inicio.html">Vidriería Moscoso</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto fw-semibold caja-nav">
        <a class="nav-link" href="/inicio">INICIO</a>
        <a class="nav-link" href="/servicio">SERVICIO</a>
        <a class="nav-link" href="/nosotros">NOSOTROS</a>
        <a class="nav-link" href="/contacto">CONTACTOS</a>
      </div>
    </div>
  </div>
</nav>
